<h1>DOCTOR SHOW PAGE</h1>

<h2>Doctor Information</h2>
  Doctor Name: <%= @doctor.name %></br>
  Specialty: <%= @doctor.specialty %></br>
  University: <%= @doctor.university %></br>
  Residency: <%= @doctor.hospital.name %></br>

<h2>Doctor Patients</h2>
  <% @doctor.patients.each do |patient| %>
  <section id="patient-<%= patient.id %>">
    Patient: <%= patient.name %>
    <%= button_to "Delete Patient", "/doctor_patients/#{@doctor.id}/#{patient.id}", method: :delete %></br></br>
  </section>
  <% end %>